* {
  box-sizing: border-box; }

body {
  background-color: #191919;
  font-size: 10px; }

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto; }

.main {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.one, .two, .three {
  font: 400 1.6em "Montserrat", sans-serif;
  color: #fefefe; }

.select {
  position: relative; }

.select-open {
  display: none; }

.balance {
  color: #fefefe;
  font: 600 1.6em "Montserrat", sans-serif; }

.amaran-wrapper {
  position: fixed;
  z-index: 9999; }
  .amaran-wrapper.bottom {
    bottom: 0;
    top: auto; }
  .amaran-wrapper.left {
    left: 0; }
.amaran.colorful {
  width: 300px;
  min-height: 45px;
  overflow: hidden;
  background-color: transparent;
  z-index: 1; }
  .amaran.colorful .colorful-inner {
    width: 100%;
    min-height: 45px;
    display: block;
    position: relative;
    background-color: #484860;
    padding: 15px 25px 15px 15px;
    color: #fff;
    font-size: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px; }
.amaran-close {
  color: #fff;
  z-index: 2;
  top: 8px;
  right: 8px;
  text-align: center;
  line-height: 18px; }

.nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  max-width: 250px; }
  .nav__logo {
    display: block;
    width: 100%; }
    .nav__logo__header {
      font: 700 3em/3em "Montserrat", sans-serif;
      text-transform: uppercase;
      margin: 0 auto;
      text-align: center; }
    .nav__logo__link {
      text-decoration: none;
      color: #fefefe; }
      .nav__logo__link--up {
        color: #e53935; }
  .nav__sign {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    font: 700 1.6em/4em "Montserrat", sans-serif;
    background-color: #e53935;
    color: #fefefe;
    text-align: center;
    position: relative; }
    .nav__sign:before {
      width: 16px;
      height: 16px;
      background: url("../img/steam-logo.png") no-repeat;
      content: "";
      position: absolute;
      right: 27%;
      top: calc(50% - 8px); }
  .nav__social {
    padding: 20px 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }
    .nav__social__items {
      width: 18px;
      height: 18px;
      text-decoration: none;
      margin-left: 10px; }
    .nav__social .fb {
      background: url("../img/fb_icon.png") no-repeat; }
    .nav__social .twitter {
      background: url("../img/twitter_icon.png") no-repeat; }
    .nav__social .steam {
      background: url("../img/steam_icon.png") no-repeat; }
  .nav__logged {
    border-top: 1px solid #2e2e2e;
    border-bottom: 1px solid #2e2e2e;
    padding: 25px 0; }
    .nav__logged__top {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-around;
      -moz-justify-content: space-around;
      -ms-justify-content: space-around;
      justify-content: space-around;
      -ms-flex-pack: space-around; }
      .nav__logged__top img {
        vertical-align: middle;
        max-width: 50px;
        max-height: 50px;
        border-radius: 50%; }
      .nav__logged__top__info {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-self: center;
        -moz-align-self: center;
        -ms-align-self: center;
        align-self: center;
        font: 400 1.6em "Montserrat", sans-serif; }
        .nav__logged__top__info :first-child {
          color: #e53935; }
        .nav__logged__top__info :last-child {
          color: #fefefe; }
      .nav__logged__top__img {
        align-self: center; }
    .nav__logged__bottom {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-around;
      -moz-justify-content: space-around;
      -ms-justify-content: space-around;
      justify-content: space-around;
      -ms-flex-pack: space-around;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      padding-top: 30px; }
      .nav__logged__bottom img:last-child {
        height: 16px; }
  .nav__list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .nav__list__items {
      border-top: 1px solid #212121;
      border-bottom: 1px solid #212121;
      position: relative; }
      .nav__list__items__link {
        font: 300 1.6em/4em "Montserrat", sans-serif;
        color: #fefefe;
        text-decoration: none;
        text-transform: uppercase;
        padding-left: 40px;
        margin: 0;
        display: block;
        width: 100%; }
        .nav__list__items__link:hover {
          background-color: #212121;
          transition: all 0.35s; }
      .nav__list__items .red {
        color: #e53935; }
      .nav__list__items .active {
        background-color: #212121; }
      .nav__list__items:before {
        content: "";
        width: 8px;
        height: 12px;
        position: absolute;
        right: 20%;
        top: calc(50% - 6px);
        background: url("../img/menu_arrow.png");
        cursor: pointer; }

.vision {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  .vision .manual {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 33%;
    margin-top: 40px; }
    .vision .manual__choice {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: space-around;
      -moz-justify-content: space-around;
      -ms-justify-content: space-around;
      justify-content: space-around;
      -ms-flex-pack: space-around; }
      .vision .manual__choice__button {
        font: 700 1.6em/3.9em "Montserrat", sans-serif;
        width: 170px;
        background-color: transparent;
        border: 1px solid #464646;
        color: #464646;
        text-transform: uppercase; }
      .vision .manual__choice .button__active {
        background-color: #212121;
        color: #fefefe; }
    .vision .manual__inputs {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      .vision .manual__inputs__label {
        font: 300 1.6em/4em "Montserrat", sans-serif;
        color: #fefefe;
        width: 100%; }
        .vision .manual__inputs__label span {
          font-weight: 700; }
      .vision .manual__inputs__input {
        width: 100%;
        background-color: #212121;
        border: 0;
        font: 700 3em/2em "Montserrat", sans-serif;
        color: #fefefe;
        padding-left: 20px; }
    .vision .manual__button {
      display: block;
      text-transform: uppercase;
      text-decoration: none;
      width: 100%;
      font: 700 1.6em/4em "Montserrat", sans-serif;
      background-color: #e53935;
      color: #fefefe;
      text-align: center;
      border: 0;
      margin-top: 35px; }
  .vision .history {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 15px;
    width: 25%; }
    .vision .history h2 {
      text-transform: uppercase;
      font: 700 1.6em/6em "Montserrat", sans-serif;
      color: #fefefe;
      margin: 0; }
    .vision .history__item {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between;
      -ms-flex-pack: space-between;
      width: 100%;
      border-top: 1px solid #464646;
      font: 600 1.6em/3.19em "Montserrat", sans-serif;
      color: #fefefe; }
      .vision .history__item--left {
        color: #717171; }
      .vision .history__item--right {
        color: #717171; }
      .vision .history__item:last-child {
        opacity: 0.3;
        border-bottom: 1px solid #464646; }

.middle, .tos {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.players {
  font: 700 1.6em "Montserrat", sans-serif;
  color: #fefefe;
  padding: 0 15px;
  border-top: 2px solid #464646;
  margin-top: 70px;
  text-align: left; }
  .players__table thead th {
    line-height: 6em;
    text-transform: uppercase;
    text-align: left;
    color: #fefefe; }
    .players__table thead th:not(:first-of-type) {
      text-align: center; }
  .players__table tbody tr {
    line-height: 3em;
    border-top: 1px solid #212121; }
    .players__table tbody tr td {
      color: #717171; }
      .players__table tbody tr td:not(:first-of-type) {
        text-align: center; }
  .players__table__avatar {
    vertical-align: middle;
    padding-right: 20px; }

.chat {
  width: 340px;
  position: relative;
  height: 100%; }
  .chat__title {
    width: 100%;
    font: 700 1.6em/3.75em "Montserrat", sans-serif;
    background-color: #e53935;
    text-transform: uppercase;
    text-align: center;
    color: #fefefe;
    position: relative; }
    .chat__title:before {
      position: absolute;
      content: "";
      background: url("../img/chat_icon.png");
      width: 17px;
      height: 14px;
      right: 37%;
      top: calc(50% - 7px); }
  .chat__area {
    overflow-y: auto;
    height: calc(100vh - 124px); }
    .chat__area::-webkit-scrollbar {
      width: 1em; }
    .chat__area::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
    .chat__area ::-webkit-scrollbar-thumb {
      background-color: #2e2e2e;
      outline: 1px solid #717171; }
    .chat__area__message {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      border-top: 1px solid #212121;
      padding: 5px 0; }
      .chat__area__message img {
        border-radius: 50%;
        width: 40px;
        height: 40px; }
      .chat__area__message--box {
        font: 400 1.2em "Montserrat", sans-serif;
        padding: 0 20px;
        width: 80%; }
        .chat__area__message--box h3 {
          margin: 0; }
          .chat__area__message--box h3 a {
            text-decoration: none;
            color: #fefefe;
            margin: 0 0 5px 0; }
        .chat__area__message--box p {
          margin: 0;
          color: #717171; }
  .chat__sending {
    width: 100%;
    position: relative;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .chat__sending__msg {
      font: 300 1.6em "Montserrat", sans-serif;
      background: #212121;
      border: 1px solid #2e2e2e;
      color: #fefefe;
      width: 255px;
      height: 64px;
      outline: none;
      resize: none;
      padding: 10px; }
    .chat__sending__send, .shop__counter__button {
      background-color: #e53935;
      border: none;
      width: 85px;
      font: 700 1.6em/3.75em "Montserrat", sans-serif;
      color: #fefefe;
      text-transform: uppercase;
      outline: none;
      padding: 0; }
    .chat__sending__sign {
      display: block;
      text-transform: uppercase;
      text-decoration: none;
      width: 100%;
      font: 700 1.6em/3.75em "Montserrat", sans-serif;
      background-color: #e53935;
      color: #fefefe;
      text-align: center;
      position: relative; }
      .chat__sending__sign:before {
        width: 16px;
        height: 16px;
        background: url("../img/steam-logo.png") no-repeat;
        content: "";
        position: absolute;
        right: 21%;
        top: calc(50% - 8px); }

.tos {
  padding: 0 15px; }
  .tos h2 {
    font: 700 3.2em/3em "Montserrat", sans-serif;
    color: #fefefe;
    border-bottom: 1px solid #2a2a2a; }
  .tos p {
    font: 300 1.3em/1.71em "Montserrat", sans-serif;
    color: #fefefe; }
  .tos h3 {
    text-transform: uppercase;
    color: #e53935;
    font: 700 2em/4em "Montserrat", sans-serif; }

.shop {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 15px; }
  .shop__top {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #2a2a2a; }
    .shop__top__searchbox {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between;
      -ms-flex-pack: space-between;
      max-width: 425px;
      width: 100%; }
      .shop__top__searchbox__label {
        font: 700 1.6em "Montserrat", sans-serif;
        color: #fefefe;
        padding: 40px 0; }
      .shop__top__searchbox__search {
        background-color: #212121;
        font: 400 1.6em/3.75em "Montserrat", sans-serif;
        color: #717171;
        border: none;
        outline: none;
        padding-left: 30px; }
    .shop__top__options {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-align-self: flex-end;
      -moz-align-self: flex-end;
      -ms-align-self: flex-end;
      align-self: flex-end;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between;
      -ms-flex-pack: space-between;
      max-width: 270px;
      width: 100%;
      padding-right: 50px; }
      .shop__top__options--refresh, .shop__top__options--sort {
        background-color: transparent;
        color: #fefefe;
        border: none;
        font: 700 1.6em/2em "Montserrat", sans-serif;
        position: relative;
        outline: none; }
        .shop__top__options--refresh:before, .shop__top__options--sort:before {
          content: "";
          position: absolute;
          background: url("../img/refresh_icon.png");
          top: calc(50% - 8px);
          right: -15%;
          width: 18px;
          height: 16px; }
      .shop__top__options--sort {
        cursor: pointer; }
        .shop__top__options--sort:before {
          right: -40%;
          background: url("../img/arrow_down_icon.png");
          top: calc(50% - 4px);
          width: 10px;
          height: 10px; }
      .shop__top__options__open {
        position: absolute;
        top: 35px;
        right: -40px;
        width: 150px;
        height: auto;
        border-radius: 15px;
        border: 2px solid #2e2e2e;
        background: #191919;
        z-index: 1;
        color: #fefefe;
        font: 300 1.4em/1.8em "Montserrat", sans-serif;
        padding-left: 10px; }
        .shop__top__options__open div {
          cursor: pointer; }
  .shop__inventory {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    overflow-y: auto;
    max-height: 600px; }
    .shop__inventory::-webkit-scrollbar {
      width: 1em; }
    .shop__inventory::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
    .shop__inventory ::-webkit-scrollbar-thumb {
      background-color: #2e2e2e;
      outline: 1px solid #717171; }
    .shop__inventory .loading {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      width: 100%;
      height: 100%;
      font: 900 3em "Montserrat", sans-serif;
      color: #fefefe; }
    .shop__inventory__item {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between;
      -ms-flex-pack: space-between;
      height: auto;
      width: 165px;
      height: 168px;
      border: 2px solid #717171;
      margin: 15px 15px;
      position: relative;
      cursor: pointer; }
      .shop__inventory__item.junk {
        opacity: 0.6; }
      .shop__inventory__item:not(.junk) {
        cursor: pointer; }
      .shop__inventory__item__top {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-around;
        -moz-justify-content: space-around;
        -ms-justify-content: space-around;
        justify-content: space-around;
        -ms-flex-pack: space-around;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        align-items: center;
        font: 700 1.6em/2em "Montserrat", sans-serif;
        color: #fefefe; }
      .shop__inventory__item__name {
        text-align: center;
        padding: 0 6px;
        font: 300 1.2em/1.5em "Montserrat", sans-serif;
        color: #717171; }
      .shop__inventory__item img {
        padding-top: 12px; }
      .shop__inventory__item:before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 60px 60px;
        border-color: transparent transparent #2e2e2e transparent;
        cursor: pointer; }
      .shop__inventory__item:after {
        content: "";
        position: absolute;
        bottom: 5%;
        right: 5%;
        background: url("../img/grey_plus_gun.png") no-repeat;
        background-size: auto;
        background-position: center;
        z-index: 2;
        width: 21px;
        height: 21px;
        cursor: pointer; }
      .shop__inventory__item.active {
        border-color: #e53935; }
        .shop__inventory__item.active:before {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 0 60px 60px;
          border-color: transparent transparent #e53935 transparent;
          cursor: pointer; }
        .shop__inventory__item.active:after {
          content: "";
          position: absolute;
          bottom: 5%;
          right: 5%;
          background: url("../img/white_plus_gun.png") no-repeat;
          background-size: auto;
          background-position: center;
          z-index: 2;
          width: 21px;
          height: 21px;
          cursor: pointer; }
  .shop__counter {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    margin-top: 40px;
    border-top: 1px solid #2a2a2a;
    padding-top: 40px; }
    .shop__counter__values__count {
      font: 600 1.6em/2em "Montserrat", sans-serif;
      color: #fefefe; }
      .shop__counter__values__count--red {
        color: #e53935; }
    .shop__counter__button {
      max-width: 260px;
      width: 100%; }

.refferals {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .refferals__top {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    padding-top: 19px; }
  .refferals__box {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 555px;
    width: 100%; }
    .refferals__box__group {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      .refferals__box__group--label {
        font: 400 1.6em "Montserrat", sans-serif;
        color: #fefefe;
        margin: 21px 0 16px 0; }
        .refferals__box__group--label a {
          text-decoration: none;
          color: #e53935; }
      .refferals__box__group__gr {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        justify-content: space-between;
        -ms-flex-pack: space-between; }
        .refferals__box__group__gr--input {
          width: 100%;
          background-color: #212121;
          border: 0;
          font: 300 1.6em/3.75em "Montserrat", sans-serif;
          color: #717171;
          padding-left: 20px;
          max-width: 360px;
          outline: none; }
        .refferals__box__group__gr--button {
          background-color: #212121;
          max-width: 165px;
          width: 100%;
          color: #fefefe;
          font: 300 1.6em/3.75em "Montserrat", sans-serif;
          text-transform: uppercase;
          border: 1px solid #464646;
          outline: none; }
      .refferals__box__group .inline--button {
        width: 100%;
        max-width: 555px;
        text-transform: uppercase;
        font-weight: 600;
        margin-top: 20px; }
      .refferals__box__group .red {
        background-color: #e53935;
        color: #fefefe; }
      .refferals__box__group .inline--input {
        width: 100%;
        max-width: 555px;
        margin-top: 16px; }
      .refferals__box__group .inline--label {
        margin: 21px 0 16px; }
      .refferals__box__group__rg {
        margin-top: 21px; }
        .refferals__box__group__rg__row {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-justify-content: space-between;
          -moz-justify-content: space-between;
          -ms-justify-content: space-between;
          justify-content: space-between;
          -ms-flex-pack: space-between;
          margin-top: 80px; }
          .refferals__box__group__rg__row--col {
            max-width: 263px;
            width: 100%; }
      .refferals__box__group .half--input {
        width: 100%;
        max-width: 253px;
        margin-bottom: 30px; }
      .refferals__box__group .inline {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
        .refferals__box__group .inline--input {
          max-width: 100%;
          margin-bottom: 30px; }
        .refferals__box__group .inline--half {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-justify-content: space-between;
          -moz-justify-content: space-between;
          -ms-justify-content: space-between;
          justify-content: space-between;
          -ms-flex-pack: space-between;
          margin: 0; }
          .refferals__box__group .inline--half--input {
            max-width: 263px; }
  .refferals__bottom {
    margin-top: 40px;
    border-top: 1px solid #212121; }
    .refferals__bottom--h2 {
      font: 600 1.6em "Montserrat", sans-serif;
      color: #fefefe; }
    .refferals__bottom__row {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-around;
      -moz-justify-content: space-around;
      -ms-justify-content: space-around;
      justify-content: space-around;
      -ms-flex-pack: space-around; }
      .refferals__bottom__row__col {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        align-items: center;
        max-width: 127px;
        width: 100%;
        padding-top: 30px; }
    .refferals__bottom .bronze img {
      max-width: 128px;
      width: 100%; }
    .refferals__bottom .bronze span {
      font: 400 1.6em/2em "Montserrat", sans-serif;
      color: #a38454; }
    .refferals__bottom .bronze h3 {
      font: 900 3em "Montserrat", sans-serif;
      color: #a38454;
      text-transform: uppercase; }
    .refferals__bottom .silver img {
      max-width: 128px;
      width: 100%; }
    .refferals__bottom .silver span {
      font: 400 1.6em/2em "Montserrat", sans-serif;
      color: #bfbfbf; }
    .refferals__bottom .silver h3 {
      font: 900 3em "Montserrat", sans-serif;
      color: #bfbfbf;
      text-transform: uppercase; }
    .refferals__bottom .gold img {
      max-width: 128px;
      width: 100%; }
    .refferals__bottom .gold span {
      font: 400 1.6em/2em "Montserrat", sans-serif;
      color: #ffbd20; }
    .refferals__bottom .gold h3 {
      font: 900 3em "Montserrat", sans-serif;
      color: #ffbd20;
      text-transform: uppercase; }
    .refferals__bottom .diamond img {
      max-width: 128px;
      width: 100%; }
    .refferals__bottom .diamond span {
      font: 400 1.6em/2em "Montserrat", sans-serif;
      color: #5ad5a5; }
    .refferals__bottom .diamond h3 {
      font: 900 3em "Montserrat", sans-serif;
      color: #5ad5a5;
      text-transform: uppercase; }

.user {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .user__row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .user__row--top {
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      padding: 40px 0; }
      .user__row--top img {
        max-width: 166px;
        border-radius: 50%; }
    .user__row__col {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      .user__row__col--top {
        padding-left: 40px; }
      .user__row__col span {
        color: #fefefe;
        font: 400 1.6em/2em "Montserrat", sans-serif; }
      .user__row__col span:first-child {
        color: #e53935;
        font: 400 1.6em/2em "Montserrat", sans-serif; }
        .user__row__col span:first-child a {
          text-decoration: none;
          color: #fefefe; }
      .user__row__col.stats-lost .value {
        color: #e53935; }
      .user__row__col.stats-profit .value {
        color: #017c4c; }
      .user__row__col.stats-won .value {
        color: #fefefe; }
    .user__row label {
      font: 600 1.6em/3.75em "Montserrat", sans-serif;
      color: #fefefe; }
      .user__row label a {
        text-decoration: none;
        color: #e53935; }
    .user__row.justify {
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between;
      -ms-flex-pack: space-between;
      margin: 15px; }
    .user__row__group {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between;
      -ms-flex-pack: space-between; }
      .user__row__group.group-input {
        width: 100%;
        max-width: 850px; }
      .user__row__group input {
        background-color: #212121;
        color: #fefefe;
        font: 400 1.6em/3.75em "Montserrat", sans-serif;
        max-width: 652px;
        width: 100%;
        border: 0;
        padding-left: 20px;
        outline: none; }
      .user__row__group button {
        background-color: #212121;
        color: #fefefe;
        font: 400 1.6em/3.75em "Montserrat", sans-serif;
        max-width: 165px;
        width: 100%;
        border: 1px solid #464646;
        outline: none;
        margin-left: 40px; }
    .user__row.stats {
      -webkit-justify-content: space-around;
      -moz-justify-content: space-around;
      -ms-justify-content: space-around;
      justify-content: space-around;
      -ms-flex-pack: space-around;
      margin-top: 25px;
      border-top: 1px solid #464646;
      padding: 35px 0; }
      .user__row.stats .label {
        font: 900 3em/2em "Montserrat", sans-serif;
        color: #fefefe;
        text-transform: uppercase;
        text-align: center; }
      .user__row.stats .value {
        font: 900 6em/1em "Montserrat", sans-serif;
        text-transform: uppercase;
        text-align: center; }
  .user .over-table .table {
    border-top: 1px solid #212121;
    border-bottom: 1px solid #212121; }
    .user .over-table .table thead {
      border-top: 1px solid #212121; }
    .user .over-table .table th {
      line-height: 6em;
      text-transform: uppercase;
      text-align: left;
      color: #fefefe; }
      .user .over-table .table th:not(:first-of-type) {
        text-align: center; }
  .user .over-table tbody {
    border-bottom: 1px solid #212121; }
    .user .over-table tbody tr {
      line-height: 1.3em;
      border-top: 1px solid #212121; }
      .user .over-table tbody tr td {
        color: #e53935; }
        .user .over-table tbody tr td:not(:first-of-type) {
          text-align: center; }

.dataTables_length {
  float: left;
  width: 50%;
  margin: 20px 0; }
  .dataTables_length label {
    font: 400 1.6em/3em "Montserrat", sans-serif;
    color: #fefefe; }
    .dataTables_length label select {
      background-color: #212121;
      padding: 0;
      border: 0;
      outline: none;
      margin: 5px; }

.dataTables_filter {
  float: right;
  width: 50%;
  text-align: right;
  margin: 20px 0; }
  .dataTables_filter label {
    color: #fefefe;
    font: 400 1.6em/3.75em "Montserrat", sans-serif; }
    .dataTables_filter label input {
      background-color: #212121;
      line-height: 3.75em;
      border: none;
      outline: none;
      max-width: 262px;
      width: 100%;
      margin-left: 10px;
      padding-left: 15px; }

.dataTables_info {
  font: 600 1.6em/3em "Montserrat", sans-serif;
  color: #fefefe;
  float: left;
  margin: 15px 0; }

.dataTables_paginate {
  float: right;
  font: 600 1.6em/3em "Monterrat", sans-serif;
  color: #fefefe;
  margin: 15px 0; }
  .dataTables_paginate .paginate_button {
    margin-right: 30px; }
    .dataTables_paginate .paginate_button:last-child {
      color: #017c4c; }

.sorting {
  background: url("../img/sort_both.png") right center no-repeat;
  cursor: pointer; }

.sorting_asc {
  background: url("../img/sort_asc.png") right center no-repeat;
  cursor: pointer; }

.sorting_desc {
  background: url("../img/sort_desc.png") right center no-repeat; }

.roulette {
  margin-top: 40px; }
  .roulette .controls {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding: 40px 0;
    border-bottom: 1px solid #212121; }
    .roulette .controls .color-select {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      width: 30%; }
      .roulette .controls .color-select .btn-multi {
        margin: 0 10px;
        cursor: pointer;
        background: transparent;
        outline: none;
        border: none; }
        .roulette .controls .color-select .btn-multi img {
          width: 76px;
          height: auto;
          max-width: 100%;
          border-radius: 50%; }
      .roulette .controls .color-select .active img {
        box-shadow: 0 0 3px 3px #58b948; }
    .roulette .controls .inputs-area {
      width: 55%; }
      .roulette .controls .inputs-area .buttons {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        align-items: center;
        -webkit-justify-content: flex-start;
        -moz-justify-content: flex-start;
        -ms-justify-content: flex-start;
        justify-content: flex-start;
        -ms-flex-pack: flex-start; }
        .roulette .controls .inputs-area .buttons .button {
          font: 600 1.6em/3.75em "Montserrat", sans-serif;
          color: #fefefe;
          border: 1px solid #464646;
          padding: 0 20px;
          text-transform: uppercase;
          cursor: pointer;
          background-color: #212121; }
      .roulette .controls .inputs-area .amount {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        justify-content: space-between;
        -ms-flex-pack: space-between;
        margin-top: 20px; }
        .roulette .controls .inputs-area .amount p {
          font: 600 1.6em/3.75em "Montserrat", sans-serif;
          color: #fefefe;
          margin: 0; }
        .roulette .controls .inputs-area .amount input {
          font: 600 1.6em/3.75em "Montserrat", sans-serif;
          color: #717171;
          border: none;
          background-color: #212121;
          outline: none;
          margin: 0;
          padding: 0 20px; }
    .roulette .controls .btn-play {
      border: none;
      outline: none;
      padding: 0;
      margin: 0;
      background-color: #e53935;
      font: 600 1.6em/8.75em "Montserrat", sans-serif;
      color: #fefefe;
      width: 100%;
      max-width: 165px;
      margin-left: 30px; }
  .roulette .balance-latest {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    padding: 40px 0; }
    .roulette .balance-latest .balance {
      font: 600 1.6em/3.75em "Montserrat", sans-serif;
      border-right: 1px solid #212121;
      padding-right: 50px;
      width: 15%; }
      .roulette .balance-latest .balance span {
        padding-right: 5px; }
    .roulette .balance-latest .latest-right {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-around;
      -moz-justify-content: space-around;
      -ms-justify-content: space-around;
      justify-content: space-around;
      -ms-flex-pack: space-around;
      width: 85%;
      font: 600 1.6em/3.75em "Montserrat", sans-serif;
      color: #fefefe;
      padding: 0 35px 0 50px; }
      .roulette .balance-latest .latest-right p {
        margin: 0; }
      .roulette .balance-latest .latest-right .latest {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        align-items: center;
        -webkit-justify-content: space-around;
        -moz-justify-content: space-around;
        -ms-justify-content: space-around;
        justify-content: space-around;
        -ms-flex-pack: space-around; }
        .roulette .balance-latest .latest-right .latest .red-last-color {
          background-image: url("../img/coin-t.png"); }
        .roulette .balance-latest .latest-right .latest .black-last-color {
          background-image: url("../img/coin_ct.png"); }
        .roulette .balance-latest .latest-right .latest .green-last-color {
          background-image: url("../img/coin_up.png"); }
        .roulette .balance-latest .latest-right .latest .last {
          width: 50px;
          height: 50px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          margin: 0 10px; }
  .roulette .roulette-wheel-outer {
    position: relative;
    background-color: #2a2a2a;
    padding: 1px 0;
    border-top: 1px solid #2a2a2a;
    border-bottom: 1px solid #2a2a2a; }
    .roulette .roulette-wheel-outer .rolling {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(229, 57, 53, 0.1); }
      .roulette .roulette-wheel-outer .rolling .rolling-inner {
        font: 600 1.6em "Montserrat", sans-serif;
        color: #fefefe;
        text-align: center; }
        .roulette .roulette-wheel-outer .rolling .rolling-inner div {
          font-size: 3em; }
    .roulette .roulette-wheel-outer .roulette-wheel {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      background-image: url("../img/roulette.png");
      max-width: 1980px;
      height: 132px;
      background-position-y: center;
      background-repeat-y: no-repeat;
      margin: 0 auto; }
      .roulette .roulette-wheel-outer .roulette-wheel .pointer {
        width: 3px;
        height: 80%;
        background-color: #fefefe; }
  .roulette .roulette-info {
    font: 400 1.6em/5em "Montserrat", sans-serif;
    color: #717171;
    text-align: center; }
  .roulette .bets {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    border-top: 1px solid #212121; }
    .roulette .bets .bet-box {
      width: calc(100% / 3 - 60px / 3); }
      .roulette .bets .bet-box .bet-info {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        border-bottom: 1px solid #212121; }
        .roulette .bets .bet-box .bet-info .bet-label {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-align-items: center;
          -moz-align-items: center;
          -ms-align-items: center;
          align-items: center;
          font: 400 1.6em/5.75em "Montserrat", sans-serif;
          text-transform: uppercase;
          width: 70%; }
          .roulette .bets .bet-box .bet-info .bet-label img {
            width: 40px;
            height: 40px;
            margin-right: 18px; }
        .roulette .bets .bet-box .bet-info .total-bet {
          width: 30%;
          font: 400 1.6em/5.75em "Montserrat", sans-serif;
          text-transform: uppercase;
          text-align: right;
          padding-right: 15px; }
    .roulette .bets .red-bet {
      color: #b4a36d; }
    .roulette .bets .green-bet {
      color: #e53935; }
    .roulette .bets .black-bet {
      color: #5d7990; }
  .roulette .player-bets .player-bet {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    font: 600 1.6em/4em "Montserrat", sans-serif;
    border-bottom: 1px solid #212121; }
    .roulette .player-bets .player-bet .user {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      overflow: hidden;
      white-space: nowrap;
      color: #717171;
      width: 70%; }
      .roulette .player-bets .player-bet .user img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 18px; }
    .roulette .player-bets .player-bet .amount {
      width: 30%;
      color: #fefefe;
      text-align: right;
      padding-right: 15px; }

/*# sourceMappingURL=style.css.map */
